/* Soluzione qui */

/* ///////////TABLET/////////// */
@media screen and (min-width: 768px) {
    /* HEADER */
    #topbar {
        justify-content: flex-start;    
    }

    /* MAIN */
    main {
        padding: 50px;
    }

    /************* RECIPE *************/
    /* Recipe header */
    .recipe-origin {
        display:inline;
    }

    .recipe h2 {
        font-size: 2rem;
    }

    /* Quick Notes */
    /* Qui sono impazzito per replicarlo bene e centrato, ho arrotondato la "width" del terzo "li" */
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: calc((100% - 522px) / 2); /* <--width *3 sottratto */
    }

    .quick-notes li {
        width: 174px;  /* <--qui ho moltiplicato *3 per avere l'ingombro */
    }

    /* Buttons */
    .social-networks {
        justify-content: center;
    }

    .social-networks .btn {
        width: calc(90% / 5);
    }

    /* ADS */
    .ads {
        display: block;
    }

    /* PRESENTATION */
    .clearfix img {
        float: inline-start;
        margin-right: 10px;
    }
}


/* ///////////DESKTOP/////////// */
@media screen and (min-width: 992px) {

    /************* RECIPE *************/
    /* Recipe header */
    .recipe h2 {
        font-size: 2.5rem;
    }

    /* Recipe Card */
    .recipe-card {
        display: flex;
        min-height: 400px;
    }

    .recipe-video {
        width: 70%;
        height: unset;
    }

    .recipe-info {
        width: 30%;
    }

    /* Quick-notes */
    .quick-notes ul {
        display: unset;
    }

    .quick-notes li {
        width: unset;
    }

    .quick-notes {
        margin-top: 10px;
    }

    /*  SOCIAL NETWORKS */
    .social-networks .label {
	display: unset;
    }

    /* FOOTER */
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
    }
}